@import url('https://www.fontsmarket.com/font-details/microsoft-jhenghei');
.signin, .signup {
  color: white;
  background-color: #cc99ff;
  font-size: 23px;
  font-family: Microsoft jhenghei;
  text-align: center;
  border-style: solid;
  border-color: #ccb3ff;
  border-radius: 4px;
  border-width: thin;
  padding: 15px 30px;
  box-shadow: 0px 9px #b3b3b3;
  align-content: center;
 }
 .signin:hover{
  background-color: #d9b3ff;
}
 .signup:hover{
  background-color: #d9b3ff;
}
 .signin:active {
  transform: translateY(4px);
  box-shadow: 0px 5px #666;
}
 .signup:active {
  transform: translateY(4px);
  box-shadow: 0px 5px #666;
}
